.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  animation: fadeIn 0.3s ease-in;
}

.main-loading{
  position: relative;
  width: 100%;
  height: 100%;
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  animation: fadeIn 0.3s ease-in;
}

.main-loading .spinner-border {
  width: 6rem;
  height:6rem;
}

.loading-overlay .spinner-border {
  width: 4rem;
  height: 4rem;
}

.loading-text {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: #b58f00;
  animation: pulse 1.5s infinite;
}

.loading-grid-overlay {
  position: absolute;
  inset: 0; 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  backdrop-filter: none;
}

.loading-overlay.commuload {
  position: relative;
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  background: transparent;
  z-index: 10;
  animation: fadeIn 0.3s ease-in;
  margin: 0 auto; }


  
.loading-overlay.commuload .spinner-border {
  width: 3rem;
  height: 3rem;
}

.loading-overlay.up-load {
  position: relative;
  inset: 0; 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  backdrop-filter: none;
  margin-top: 5rem;
}

.loading-overlay--blur {
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(3px);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes pulse {
  0%, 100% { opacity: 0.6; }
  50% { opacity: 1; }
}
