@font-face {
    font-family: 'PG';
    src: url('./PG Newport DEMO.ttf');
}

@font-face {
    font-family: 'Kanit';
    src: url('./Kanit-Regular.ttf');
}

@font-face {
    font-family: 'Nec';
    src: url('./Nectarine DEMO');
}


.commu-body {
    background-color: white;
    width: 100%;
    height: 100%;
}
.commu-navbar {
    background-color: white;
    width: 100%;
    height: 2rem;
    font-family: 'Nec';
}