@import "tailwindcss";

@font-face {
  font-family: "PG";
  src: url("/fonts/PG-Newport-DEMO.ttf") format("truetype");
}

@font-face {
  font-family: "Kanit";
  src: url("/fonts/Kanit-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Nec";
  src: url("/fonts/Nectarine.ttf") format("truetype");
}

@font-face {
  font-family: "thi";
  src: url("/fonts/thierry.ttf") format("truetype");
}

.commu-body {
  background-color: white;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* .commu-navbar {
    background-color: white;
    width: 100%;
    height: auto;
    padding: 1rem 0.5rem;
    text-align: center;
    font-family: 'Nec', sans-serif;
    border-bottom: 1px solid black;
    font-size: clamp(3rem, 2.5vw, 1.5rem);

    display: flex;
    justify-content: center;
    align-items: center;

    overflow-wrap: break-word;
    word-break: break-word;
} */

.commu-navbar {
  background-color: white;
  font-family: "Nec", sans-serif;
  border-bottom: 1px solid black;
  max-width: 100%;
  overflow: hidden;

  position: relative;
}

.commu-navbar-logo {
  font-family: "Nec", sans-serif;
}

.commu-navbar-user {
  display: flex;
  align-items: center;
  gap: 1rem;

  text-decoration: none;
}

.commu-navbar-username {
  font-family: "Kanit", sans-serif;
  color: #000;
}

.commu-topic {
  background-image: url("../../../../assets/view-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.commu-popup-container {
  position: relative;
  margin: 0 auto;
  display: block;
}
.commu-popup-img {
  display: block;
}

.commu-popup-button {
  cursor: pointer;
  border-radius: 0 0 25px 25px;
}

.commu-container {
  min-height: 100vh;
  background-image: url("../../../../assets/bg-commu.png");

}

.commu-posttext {
  font-family: "thi";
  color: #df2d3b;
  font-weight: bold;
}

.commu-post {
  display: flex;
  flex-direction: column;
  border: 2px solid #000;
  overflow: hidden;
  background: white;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1);
}

.commu-post-topic {
  margin-bottom: 1rem;
  padding: 1rem 2rem;
  background-color: #fff4df;
  border: 2px solid #000;
  border-radius: 20px;
  font-family: "Kanit";

  text-align: center;

  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

.commu-post-detail {
  font-family: "Kanit";
  color: #444;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 0.6rem;

  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

.commu-post-contact {
  margin-top: auto;
  margin-left: 0.6rem;
  font-family: "Kanit";
}

.commu-post-contact a {
  color: blue;
  text-decoration: underline;
  bottom: 1;
}
