@import "tailwindcss";


@font-face {
    font-family: 'PG';
    src: url('./PG Newport DEMO.ttf');
}

@font-face {
    font-family: 'Kanit';
    src: url('Kanit-Regular.ttf');
}

@font-face {
    font-family: 'Nec';
    src: url('Nectarine.ttf')
}

@font-face {
    font-family: 'thi';
    src: url('thierry.ttf')
}



.main-body {
    background-color: white;
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.main-navbar {
    background-color: white;
    width: 100%;
    height: auto;
    padding: 1rem 0.5rem;
    text-align: center;
    font-family: 'Nec', sans-serif;
    border-bottom: 1px solid black;
    font-size: clamp(3rem, 2.5vw, 1.5rem);

    display: flex;
    justify-content: center;
    align-items: center;

    overflow-wrap: break-word;
    word-break: break-word;
}

.main-topic {
    width: 100%;
    height: 50rem;
    background-color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.main-popup-container {
    position: relative;
    width: 50%;
    max-width: 60rem;
    margin: 0 auto;
}

.main-popup-img {
    width: 100%;
    height: auto;
    display: block;
}

.main-news {
    background-color: #EDEDED;
    max-Width: 100%;
    margin: 0 auto;
    padding: 2rem 0;
    position: relative;
    box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.2);

    padding: 10rem;
}
.slick-slide-item {
  margin: 2px;
  border-radius: 15px;
  overflow: hidden;
  transform: scale(0.8);
  transition: transform 0.3s ease;
}


/* เมื่อ slide อยู่ตรงกลาง */
.slick-center .slick-slide-item {
  transform: scale(1) !important;
}

.main-news-frame {
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border: 2px solid black;    
  box-sizing: border-box;
  width: 100%;
}

.main-news-img {
  width: 100%;
  height: auto;
  display: block;
}

.main-ff {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-image: url('../../assets/Featurebg.png');
    background-repeat: repeat-y;
    background-size: cover;
    background-position: top center;
    padding: 3rem;
    gap: 15rem;
    
}

.ff-button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;


    height: auto;
    font-size: 2rem;
    font-family: 'Kanit', sans-serif;
}

.ff-button img {
    width: 10rem;
}



.main-container {
    min-height: 100vh;
    background-image: url('../../assets/bg-commu.png');
    background-repeat: repeat-y;
    background-size: cover;
    background-position: top center;
    padding: 6rem;
}

.main-posttext {
    font-family: 'thi';
    color: #DF2D3B;
    font-size: 5rem;
    font-weight: bold;
    margin-bottom: 20px;
}


.main-grid {
    display: grid;
    /* grid-template-columns: repeat(4, 1fr); */
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
    row-gap: 2rem;
    justify-items: center;
    padding: 2rem;
    margin-left: auto;
    margin-right: 10px;
}

.main-post {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30rem;
    height: 45rem;
    border: 2px solid #000;
    border-radius: 25px;
    overflow: hidden;
    background: #fff;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.1);
}

.main-post-photo {
    background-color: #f8f8f8;
    height: 30rem;  /* กำหนดความสูงที่ต้องการ */
    overflow: hidden; /* ซ่อนส่วนเกิน */
}

.main-post-photo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.main-post-detail-card {
    margin-top: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #FFF4DF;
    border-top: 2px solid #000;
    border-radius: 25px;
    padding: 1rem;
    font-family: 'Kanit', sans-serif;
    height: 15rem;
}

.shirt-name {
    font-size: 2rem;
    border-bottom: 2px solid #000;
    padding-bottom: 0.5rem;
    text-align: left;
}

.price {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: right;
    align-self: flex-end;
}