@import "tailwindcss";


@font-face {
  font-family: 'KanitB';
  src: url('../../assets/fonts/Kanit-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'KanitEB';
  src: url('../../assets/fonts/Kanit-ExtraBold.ttf') format('truetype');
}
@font-face {
  font-family: 'PG';
  src: url('../../assets/fonts/PG-Newport-DEMO.ttf') format('truetype');
}



.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filters-button {
  width: 100%;
  max-width: 130px;
  height: 43px;

  display: flex;
  align-items: center;
  margin-bottom: 20px;
  gap: 10px;
  border: 1.5px solid #B0B0B0;
  border-radius: 13.19px;
  padding: 0.5rem 1rem;
  background-color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.filters-button .filters-text {
  font-family: "Kanit";
  font-size: 20px;
}

.filters-icon {
  width: 100%;
  max-width: 20px;
  height: 20px;
  color: #000000;
  margin-left: 8px;
}

.filters-button:hover {
  background-color: #f3f3f3;
}

.main-body {
  background-color: white;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.main-navbar {

  background-color: white;
  width: 100%;
  height: auto;
  padding: 1rem 0.5rem;
  text-align: center;
  border-bottom: 1px solid black;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow-wrap: break-word;
  word-break: break-word;
}

.main-navbar-user {
  display: flex;
  position: absolute;
  left: 3rem;
  gap: 1rem;
  text-decoration: none
}

.main-navbar-user-username {
  font-family: 'Kanit';
  font-size: 2rem;
  color: #000;
  text-decoration: none;

}

.main-navbar-logo {
  font-family: 'Nec', sans-serif;
  text-align: center;
  font-size: clamp(3rem, 2.5vw, 1.5rem);

  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  max-width: 10vw;
}

.main-navbar-user-profile-icon {
  width: 3rem;
  height: 3rem;
}

.main-navbar-logout {
  display: flex;
  position: absolute;
  right: 3rem;
  font-family: 'Kanit';
  font-size: 2.5rem;
  color: #cb3f3f;
  text-decoration: none;

}

.main-topic {
  width: 100%;
  height: 50rem;
  background-color: white;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.main-popup-container {
  position: relative;
  width: 50%;
  max-width: 60rem;
  margin: 0 auto;
}

.main-popup-img {
  width: 100%;
  height: auto;
  display: block;
  animation: bounceIn 0.9s ease forwards, floatImage 4s ease-in-out infinite;
  animation-delay: 0s, 0.9s;
}


.main-news {
  background-color: #EDEDED;
  max-Width: 100%;
  margin: 0 auto;
  padding: 2rem 0;
  position: relative;
  box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.2);


}

.slide-wrapper {
  padding: 0 25px;
  box-sizing: border-box;
}

.slick-slide-item {
  transition: transform 0.3s ease;
  transform: scale(0.8);
  opacity: 0.6;
}

.slick-center .slick-slide-item {
  transform: scale(1) !important;
  opacity: 1 !important;
}

.main-news-frame {
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border: 2px solid black;
  box-sizing: border-box;
  width: 100%;
}

.main-news-img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.main-news-img:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.custom-prev,
.custom-next {
  position: absolute;
  top: 50%;
  z-index: 2;
  cursor: pointer;
  font-size: 2rem;
  color: #3d3d3dff;
  transform: translateY(-50%);
}

.custom-prev {
  left: 31.5%;
}

.custom-next {
  right: 31.5%;
}



.main-ff {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-image: url('../../assets/Featurebg.png');
  background-repeat: repeat-y;
  background-size: cover;
  background-position: top center;
  padding: 3rem;
  gap: 15rem;

}

.ff-button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: auto;
  font-size: 2rem;
  font-family: 'Kanit', sans-serif;
  transition: transform 0.1s ease;

}

.ff-button img {
  width: 10rem;
}

.ff-button:hover {
  transform: translateY(-10px) scale(1.05);
}

.filter-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}


.main-container {
  min-height: 100vh;
  background-image: url('../../assets/bg-commu.png');
    background-repeat: repeat-x !important;
        background-repeat: repeat-y !important;
  background-size: cover;
  background-position: center top;
  padding: 6rem;
}

.main-posttext {
  font-family: 'thi';
  color: #DF2D3B;
  font-size: 5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.main-grid {
  display: grid;
  /* grid-template-columns: repeat(4, 1fr); */
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
  row-gap: 2rem;
  justify-items: start;
  justify-content: start;
  padding: 2rem;
  margin-left: auto;
  margin-right: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.main-post {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30rem;
  height: 40rem;
  border: 2px solid #000;
  border-radius: 25px;
  overflow: hidden;
  background: #fff;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.1);
  will-change: transform;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.main-post:hover {
  transform: translateY(-8px) scale(1.04) !important;
  box-shadow: 0px 12px 25px rgba(0, 0, 0, 0.25);
  z-index: 10;

}

.main-post-photo {
  background-color: #f8f8f8;
  height: 40rem;
  overflow: hidden;
}

.main-post-photo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.main-post-detail-card {
  margin-top: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #FFF4DF;
  border-top: 2px solid #000;
  border-radius: 25px;
  padding: 1rem;
  font-family: 'Kanit', sans-serif;
  height: 15rem;
}

.shirt-name {
  font-size: 2rem;
  border-bottom: 2px solid #000;
  padding-bottom: 0.5rem;
  text-align: left;
}

/* .price {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: right;
  align-self: flex-end;
} */

.shirt-bottom-detail {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: auto;
}

.tags-wrapper {
  display: flex;
  align-items: center;
}


.tags-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  /* ช่องว่างระหว่าง icon กับ tags */
}

.tags-container {
  display: flex;
  gap: 0.5rem;
  /* ช่องว่างระหว่างแท็กแต่ละแท็ก */
  flex-wrap: wrap;
  /* ถ้าแท็กเยอะจะขึ้นบรรทัดใหม่ */
}

.tag-item {
  font-size: 1.4rem;
  color: white;
  background-color: #FF3A4A;
  border-radius: 25px;
  border: 2px solid #000;
  padding: 0.4rem 1rem;
  font-family: 'KanitL';
  display: inline-block;
}

.tag-icon {
  width: 1.8rem;
  height: 1.8rem;
  object-fit: contain;
}


.price {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: right;
  gap: 0.6rem;

}




@keyframes floatImage {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}


.fade-in-up {
  opacity: 0;
  /* ลองเอา transform ออกก่อน */
  transform: none;
  transition: opacity 0.6s ease-out;
}

.fade-in-up.visible {
  opacity: 1;
  transform: none;
}

@keyframes bounceIn {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }

  60% {
    transform: translateY(30px);
    opacity: 1;
  }

  80% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

.no-results {
  text-align: center;
  font-size: 2.7rem;
  color: #666;
  margin: 40px 0;
  font-family: 'Kanit', sans-serif;
  grid-column: 1 / -1;
  justify-self: center;
}

@media (max-width: 1024px) {
  .main-navbar {
    font-size: 2rem;
    padding: 1rem;
  }

  .main-navbar-user {
    left: 1rem;
  }

  .main-popup-container {
    width: 70%;
  }
.main-navbar-logo {
  max-width: 15vw;
}
  .main-news {
    padding: 2rem 1rem;
  }


  .main-news-frame {
    max-width: 50vw;
    margin: 0 auto;
  }

  .main-news-img {
    width: 100%;
    height: auto;
  }

  .slide-wrapper {
    padding: 0 !important;
  }


  .custom-prev {
    left: 31%;
  }

  .custom-next {
    right: 31%;
  }



  .main-ff {
    gap: 10rem;
  }

  .main-container {
    padding: 3rem;
    background-repeat: repeat-x !important;
    background-repeat: repeat-y !important;
    background-size: contain !important;
    background-position: center top;
  }


  .main-grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 1rem;
    gap: 1.5rem;
    justify-items: stretch;
  }

  .main-post {
    margin: 2rem;
    width: 100%;
    height: auto;
  }

  .tag-item {
    font-size: 1rem;
    border-radius: 25px;
    border: 2px solid #000;
    padding: 0.4rem 1rem;
  }

  .tags-wrapper {
    gap: 0.2rem;
    /* ช่องว่างระหว่าง icon กับ tags */
  }

  .shirt-name {
    font-size: 1.6rem;
  }

  .price {
    font-size: 1.8rem;
  }
}


@media (max-width: 768px) {

  .main-navbar-user {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
  }

  .main-navbar-user-profile-icon {
    width: 2.5rem;
    height: 2.5rem;
    object-fit: cover;
    display: block;
  }

  .main-navbar-user-username {
    font-size: 2rem;
    line-height: 1;
    display: flex;
    align-items: center;


  }

  .main-navbar-logo {
    font-size: 3rem;
  }

  .main-navbar-logout {
    right: 2rem;
    font-size: 2rem;

  }
  .main-navbar-logo {
  max-width: 15vw;
}


  .main-topic {
    height: 30rem;
  }

  .main-popup-container {
    width: 55%;
  }

  .main-news-frame {
    max-width: 50vw;
    margin: 0 auto;
  }

  .main-news-img {
    width: 100%;
    height: auto;
  }

  .slide-wrapper {
    padding: 0 !important;
  }


  .custom-prev {
    left: 10%;
  }

  .custom-next {
    right: 10%;
  }


  .main-ff {
    padding: 2rem;
    gap: 10rem;

  }

  .ff-button {
    font-size: 1.5rem;
    font-family: 'Kanit', sans-serif;
    transition: transform 0.1s ease;

  }

  .ff-button img {
    width: 8rem;

  }

  .filters-button {
    width: 30%;
    max-width: none;
    justify-content: center;
    margin-bottom: 1rem;
  }

  .main-header {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .main-posttext {
    font-size: 5rem;
    text-align: center;
  }

  .main-container {
    padding: 2rem 1rem;
    background-repeat: repeat-x !important;
    background-repeat: repeat-y !important;
    background-size: contain !important;
    background-position: center top;
  }

   .main-news-frame{
      border: 1.57px solid black;
  }


    .main-grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 0rem;
    justify-items: center;
  }

  .main-post {
    width: 28rem;
    height: 35rem;
    border: 1.8px solid #000;
  }


  .main-post-photo {
    height: 45rem;
  }

  .main-post-photo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .main-post-detail-card {
    height: 15rem;
  }


  .shirt-name {
    font-size: 1.8rem !important;
  }


  .tag-item {
    font-size: 1rem;
    gap: 0;
    border: 1.5px solid #000;
  }

  .tag-icon {
    width: 1.7rem;
    height: 1.7rem;
  }

  .tags-wrapper {
    gap: 0rem;
  }

  .tags-container {
    gap: 0rem;
  }

  .price {
    font-size: 1.8rem;
  }



}

@media (max-width: 450px) {
  .main-navbar-user {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
  }

  .main-navbar-user-profile-icon {
    width: 1.7rem;
    height: 1.7rem;
    object-fit: cover;
    display: block;
  }

  .main-navbar-user-username {
    font-size: 1rem;
    line-height: 1;
    display: flex;
    align-items: center;
    top: 0.2rem;
  }

.main-navbar-logo {
  margin-top: 0;
  max-width: 15vw;
}

  .main-navbar-logout {
    right: 2rem;
    font-size: 1.2rem;

  }

  .main-topic {
    height: 25rem;
  }

  .main-popup-container {
    width: 70%;
  }


  .main-news-img {
    width: 100%;
    height: auto;
  }

  .slick-slide {
    width: 100vw !important;
    margin: 0 2vw !important;
    display: flex !important;
    justify-content: center !important;
  }

  .slick-track {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }

  .main-news-frame {
    width: 70vw !important;
    margin: 0 auto !important;
    display: flex;
    justify-content: center;
    border: 1px solid #000;
  }

  .slide-wrapper {
    padding: 0 !important;
    display: flex !important;
    justify-content: center !important;
  }

  .slick-slide-item {
    transform: none !important;
    opacity: 1 !important;
  }
.custom-prev,
.custom-next {
  font-size: 3rem;
  color: rgb(208, 21, 21);
  text-shadow: 2px 2px 6px rgba(237, 169, 169, 0.5);
}

  .custom-prev {
    left: 5%;
  }

  .custom-next {
    right: 5%;
  }


  .main-ff {
    padding: 2rem;
    gap: 5rem;

  }

  .ff-button {
    font-size: 1.3rem;

  }

  .ff-button img {
    width: 6.5rem;

  }

  .filters-button {
    width: 30%;
    max-width: none;
    justify-content: center;
  }

  .main-header {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .main-posttext {
    font-size: 3rem;
    text-align: center;
  }

  .main-container {
    padding: 2rem 1rem;
    background-size: contain;
    background-position: center top;
    background-repeat: repeat-x !important;
        background-repeat: repeat-y !important;
  }


  .main-grid {
    grid-template-columns: 1fr;
    gap: 0rem;
    justify-items: center;
  }

  .main-post {
    width: 20rem;
    height: 25rem;
    border: 1.5px solid #000;
  }
  
  .main-post-photo {
  height: 30rem;
}


  .main-post-photo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .main-post-detail-card {
    height: 10rem;
  }


  .shirt-name {
    font-size: 1.5rem !important;
  }


  .tag-item {
    font-size: 0.9rem;
    gap: 0;
    border: 1.5px solid #000;
  }

  .tag-icon {
    width: 1rem;
    height: 1rem;
  }

  .tags-wrapper {
    gap: 0rem;
  }

  .tags-container {
    gap: 0rem;
  }

  .price {
    font-size: 1.5rem;
  }

  
}