@font-face {
  font-family: 'PG';
  src: url('./PG Newport DEMO.ttf');
}

@font-face {
  font-family: 'Kanit';
  src: url('./Kanit-Regular.ttf');
}

:root {
  background-color: #FFFFF0;
  font-family: 'Kanit';
  font-size: 10px;
}

.signup-page {
  display: flex;
  flex-direction: column;
  top: 0;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  position: relative;
  font-family: "Kanit", sans-serif;
  background-color: #FFFFF0; 
  background-image: url("../../assets/background-signup.png"); 
  background-repeat: no-repeat; background-size: cover;
  background-position: center top;
}

.signup-back-btn {
  position: absolute;
  background: transparent;
  border: none;
  cursor: pointer;
  right: 5rem;
}

.signup-arrow-icon {
  width: 3rem;
  height: 3rem;
  opacity: 0.85;
  transition: transform 0.2s ease;
}

.signup-arrow-icon:hover {
  transform: rotate(180deg) scale(1.1);
}

.signup-header {
  position: absolute;
  top: 1rem;
  position: sticky;
  top: 0;
  left: 0;
  height: 5.5rem;
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 2rem;
  z-index: 99;
  border-bottom: 1px solid #ccc;
}

.signup-header-btn {
  margin-left: 1rem;
  padding: 0.8rem 2rem;
  font-size: 1.8rem;
  border: 1px solid black;
  background: white;
  border-radius: 6px;
  cursor: pointer;
}

.signup-header-btn:hover {
  background: #eee;
}

.signup-form-wrapper  {
  margin-top: 36rem;
  width: 90%;
  max-width: 100rem;
  padding: 3rem 2rem;
  /* padding: 3rem 4rem; */
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  bottom: 1rem;
}

.signup-form-row {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  
}

.row-username, 
.row-email, 
.row-faculty, 
.row-year, 
.row-password-actions {
  flex: 1 1 45%; 
  min-width: 0; 
}

.last-row {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  flex-wrap: nowrap;
}

.signup-actions {
  display: flex;
  flex: 0 0 50%;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1rem;
  margin-left: auto;
}

.signup-form-row .input-group {
  flex: 1;
}

.password-group {
  flex: 0 0 60%;
  min-width: 0;
}

.signup-form-wrapper input::placeholder, select::placeholder
.signup-form-wrapper textarea::placeholder {
  color: #878585;
  opacity: 1;
}

:root {
  background-color: #FFFFF0;
  font-family: 'Kanit';
  font-size: 10px;
}

.signup-page {
  display: flex;
  flex-direction: column;
  top: 0;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  position: relative;
  font-family: "Kanit", sans-serif;
  background-color: #FFFFF0; 
  background-image: url("../../assets/background-signup.png"); 
  background-repeat: no-repeat; background-size: cover;
  background-position: center top;
}

.signup-back-btn {
  position: absolute;
  background: transparent;
  border: none;
  cursor: pointer;
  right: 5rem;
}

.signup-arrow-icon {
  width: 3rem;
  height: 3rem;
  opacity: 0.85;
  transition: transform 0.2s ease;
}

.signup-arrow-icon:hover {
  transform: rotate(180deg) scale(1.1);
}

.signup-header {
  position: absolute;
  top: 1rem;
  position: sticky;
  top: 0;
  left: 0;
  height: 5.5rem;
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 2rem;
  z-index: 99;
  border-bottom: 1px solid #ccc;
}

.signup-header-btn {
  margin-left: 1rem;
  padding: 0.8rem 2rem;
  font-size: 1.8rem;
  border: 1px solid black;
  background: white;
  border-radius: 6px;
  cursor: pointer;
}

.signup-header-btn:hover {
  background: #eee;
}

.signup-form-wrapper  {
  margin-top: 36rem;
  width: 90%;
  max-width: 100rem;
  padding: 3rem 2rem;
  /* padding: 3rem 4rem; */
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  bottom: 1rem;
}

.signup-form-row {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  
}

.row-username, 
.row-email, 
.row-faculty, 
.row-year, 
.row-password-actions {
  flex: 1 1 45%; 
  min-width: 0; 
}

.last-row {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  flex-wrap: nowrap;
}



.signup-form-wrapper input::placeholder, select::placeholder
.signup-form-wrapper textarea::placeholder {
  color: #878585;
  opacity: 1;
}




@media (max-width: 450px) { 
  .signup-page { 
  background-image: url("../../assets/phone-signup.png"); 
  background-repeat: no-repeat; 
  background-size: cover; 
  background-position: top center;
  height: 100vh; 
  background-color: #FFFFF0; 
} 
.signup-form-row, .last-row { 
  flex-direction: column;
  gap: 1rem; 
} 
.password-group { flex: 1; }
 
.row-username { order: 1; } 
.row-faculty { order: 3; } 
.row-year { order: 4; } 
.row-email { order: 2; } 
.row-password-actions { order: 5; } 

.signup-actions { 
width: 100%; 
margin-left: 0; 
align-items: center;
text-align: center;
} 
.signup-actions .btn-login { width: 100%; max-width: 300px; } 
.signup-form-wrapper { margin-top: 15rem; padding: 2rem 1rem; } 
.signup-back-btn { right: 1rem; } 
}

@media(max-width: 768px) {
.signup-page {
    background-image: url("../../assets/phone-signup.png");
    background-size: 100% auto; 
    background-position: top center; 
    background-color: #ffffff; 
    min-height: 100vh; 
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0;
  }

  .signup-form-wrapper {
    margin-top: 32%; 
    padding: 2rem 1.5rem;
    width: 85%;
    max-width: 80rem;
  }

  .password-group {flex: 1;}
  .signup-actions {
    margin-left: 0;
    align-items: center;
    text-align: center;
  }

  .signup-actions .btn-login {
    width: 60%;
    max-width: 300px;
  }

  .signup-actions {margin-top: 5%; }
  .signup-back-btn {right: 1rem;}
}
