.mixandmatch-container {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("../assets/m&m-bg.png"); /* ใส่รูป background จริง */
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.frame {
  position: absolute;
  background-color: #e5e7eb; 
  /* border: 1.2rem solid #fff;  */
  border-top: 1rem solid #fff;
  border-left: 1rem solid #fff;
  border-right: 1rem solid #fff;
  border-bottom: 1.8rem solid #fff;
  box-shadow: 0rem 0.375rem 0.75rem rgba(0, 0, 0, 0.25);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: transform 0.2s ease;
}

.frame:hover {
  transform: scale(1.05);
}

.frame-img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 0.25rem;
}
.frame1ass {
  width: 20rem;  
  height: 25rem; 
  top: 2.5rem;
  left: 17rem; 
}

.frameShirt {
  width: 34rem;
  height: 24rem;
  top: 5rem;
  left: 57rem; 
}

.frameLeg {
  width: 29rem;
  height: 40rem;
  top: 30rem;
  left: 59rem; 
}

.frame2ass {
  width: 20rem;  
  height: 25rem; 
  top: 25rem;
  right: 32rem; 
}

.frameShoe {
  width: 26rem;
  height: 15rem;
  bottom: 6rem;
  right: 41rem; 
}

.frame3ass {
  width: 17rem;
  height: 20rem;
  bottom: 10rem;
  left: 37rem; 
}
