@font-face {
    font-family: 'Cooper';
    src: url('./COOPBL.TTF');
}

.shirtDisplay-topBar {
  width: 100vw; 
  height: 5rem;
  background-color: #D7EEF6;
  position: relative; 
  border-bottom: 0.1rem solid #7F7F7F;
  margin: 0; 
  padding: 0; 
  box-sizing: border-box; 
}
.shirtDisplay-backButton {
  background: none;
  border: none;
  font-size: 2rem;
  font-family: 'Kanit', sans-serif;
  cursor: pointer;
  padding: 1rem 2rem;
  color: #6660D4;
  display: flex;
  align-items: center;
  transition: color 0.2s ease;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.shirtDisplay-backButton:hover {
  color: #d62828;
}

.shirtDisplay-container {
  width: 100vw;
  /* max-width: 100vw;  */
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  background-color: #fff;
  margin: 0;
  padding: 0 2rem;
}

.shirtDisplay-wrapper {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap;  */
  justify-content: space-between;
  /* align-items: flex-start; */
  align-items: stretch;
  width: 100%;
  margin-top: 2rem;
  max-width: 1200px;
  gap: 2rem;
  box-sizing: border-box;
}

.shirtDisplay-left {
  flex: 1;
  max-width: 50%;
  position: relative;
}

.shirtDisplay-title {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 1rem;
  font-family: 'Cooper', sans-serif;
}


.shirtDisplay-heartButton {
  position: absolute;
  top: 2.5rem;
  right: 2rem;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease;
}

.shirtDisplay-heartButton:hover {
  transform: scale(1.1);
}

.heart-icon {
  font-size: 5rem;
  color: transparent;
  stroke: #888;
  stroke-width: 5rem;
  transition: transform 0.3s ease, color 0.3s ease;
}

.heart-icon.favorited {
  color: #e63946;
  stroke: none;
  transform: scale(1.1);
}
.shirtDisplay-priceWrapper {
  display: flex;
  font-family: 'Cooper', sans-serif;
  width: fit-content;
  border: 3px solid black;
  border-radius: 9999px;
  overflow: hidden;
  margin-bottom: 3rem;
  margin-top: 2rem;
  transform: scale(1.2);
}

.shirtDisplay-priceLeft {
  background-color: white;
  padding: 0.5rem 1.2rem;
  display: flex;
  align-items: center;
  position: relative;
}

.shirtDisplay-priceLabel {
  color: #D62828;
  font-weight: bold;
  font-size: 1.5rem;
  z-index: 1;
}

.shirtDisplay-priceRight {
  background-color: #fef2dc;
  padding: 0.5rem 2rem;
  position: relative;
  font-size: 1.5rem;
}

.shirtDisplay-priceLeft::after {
  content: '';
  position: absolute;
  right: -12px;
  top: 0;
  width: 2rem;
  height: 100%;
  background-color: white;
  border-radius: 50%;
  border-right: 3px solid black;
  z-index: 10;
}

.shirtDisplay-descriptionBox {
  border: 1px solid #ccc;
  background-color: #fff6ee;
  color: #333;
  font-size: 2rem;
  padding: 1.25rem;
  height: 25rem;
  margin-bottom: 1.5rem;
  border-radius: 1rem;
  min-height: 10rem;
  font-family: 'Kanit', sans-serif;
}

.shirtDisplay-datesWrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1.5rem;
  align-items: center;
  margin-top: 3rem;
  justify-content: center;
  font-family: 'Kanit';
}

.shirtDisplay-dateBox {
  border: 2px solid black;
  padding: 1.2rem 4rem;
  border-radius: 1rem;
  text-align: center;
  background-color: white;
  font-size: 2rem;
}

.shirtDisplay-dateBox span {
  /* font-size: 2rem; */
  display: block;
  margin-top: 0.3rem;
}

.shirtDisplay-dateBox p {
  margin: 2px 0;      /* ลดช่องว่างบน–ล่าง */
  line-height: 1.2;   /* กำหนดระยะบรรทัดให้แน่นขึ้น */
}


.shirtDisplay-endDateBox {
  background-color: #c62828;
  color: white;
  border-color: #000000;
}

.shirtDisplay-separator {
  width: 5rem;
  height: 3px; 
  background-color: black;
}

.shirtDisplay-orderButton {
  border: 2px dashed gray;
  padding: 1rem 1.5rem;
  border-radius: 9999px;
  background-color: white;
  transition: all 0.3s ease;
  cursor: pointer;
  font-size: 2rem;
  width: 100%;
  margin-top: 2rem;
  font-weight: bold;
  font-family: 'Kanit';
  
}

.shirtDisplay-orderButton:hover {
  background-color: #f0f0f0;
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}
.shirtDisplay-right {
  position: relative;
  flex: 1;
  /* min-width: 0; */
  max-width: 50%;
  display: flex;
  /* justify-content: right; */
  /* align-items: right; */
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.shirtDisplay-countdownBadge {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  z-index: 10;
  color: black;
}

.shirtDisplay-countdownTextTop {
  font-size: 1rem;
  margin-bottom: 0.4rem;
}

.shirtDisplay-countdownRow {
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 0.3rem;
}

.shirtDisplay-countdownCircle {
  background-color: #b71c1c;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.shirtDisplay-countdownNumber {
  font-size: 2.2rem;
  font-weight: bold;
  color: white;
}

.shirtDisplay-dayLabel {
  font-size: 1.2rem;
  font-weight: bold;
  color: black;
  margin-top: 3rem;
}

.shirtDisplay-countdownTextBottom {
  font-size: 1rem;
}

.shirtDisplay-imageContainer {
  background-color: rgb(255, 255, 255);
  border-radius: 1rem;
  padding: 1rem;
  /* width: 100%; */
  max-width: 80%;
  position: relative;
  justify-content: center;
  align-items: center;

}

.shirtDisplay-image {
  max-width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  border-radius: 2rem;
}


