@font-face {
    font-family: 'PG';
    src: url('./PG Newport DEMO.ttf');
}

@font-face {
    font-family: 'Kanit';
    src: url('./Kanit-Regular.ttf');
}


:root {
    background-color: #FFFFF0;
    font-family: 'Kanit';
    size: 10px;
}

.body-login {
    font-size: 1.5rem;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    /* background-color: #434343; */
    font-family: 'Kanit';
}

.signin-container {
    background-color: #fdfdf0;
    width: 100%;
    max-width: 90%;
    margin: 60px auto;
    padding: 40px;
    text-align: center;

}

.btn-wrapper {
    width: 70%;
    /* ให้เท่ากับปุ่ม */
    margin: 10px auto;
    /* กึ่งกลางหน้าจอ */
    text-align: right;
    /* ข้อความชิดขวาภายใน container */
}


.signup {
    color: #CD1616;
    font-size: 15px;
    margin-top: 5px;
    /* เว้นระยะจากปุ่ม */
}

@keyframes bounceIn {
    0% {
        transform: scale(0.8) translateY(-30px);
        opacity: 0;
    }

    50% {
        transform: scale(1.05) translateY(10px);
        opacity: 1;
    }

    70% {
        transform: scale(0.95) translateY(-5px);
    }

    100% {
        transform: scale(1) translateY(0);
    }
}


.logo-login {
    display: block;
    width: 7rem;
    height: 7rem;
    margin: 0 auto -30px;
    animation: bounceIn 0.8s ease-out;
}

h2 {
    font-family: 'PG';
    margin: 0px;
    font-size: 50px;
    font-weight: 100;
}

form {
    text-align: left;
}

.input-group {
    position: relative;
    margin-bottom: 20px;
    text-align: left;
    width: 70%;
    margin: 0 auto 20px;
    text-align: left;
}

.input-group label {
    display: flex;
    font-size: 15px;
    margin-bottom: 5px;
    text-transform: uppercase;
    align-items: center;
    font-family: 'Kanit', sans-serif;
}

.input-group label i {
    margin-right: 6px;
    font-size: 15px;
    color: #333;
}

.input-group input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 2px solid #000000;
    outline: none;
    box-sizing: border-box;
    background-color: #FFFFF0;
    font-family: 'Kanit';
    opacity: 50%;
}

.input-group input:focus {
    border-color: #333;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.icon-login {
    width: 1.5rem;
    margin-bottom: 1px;
}

.btn-login {
    background: linear-gradient(90deg, #000000, #333333);
    color: white;
    padding: 12px;
    font-family: 'Kanit';
    border: none;
    cursor: pointer;
    font-size: 14px;
    transition: 0.2s ease;
    width: 100%;
    /* ปรับให้เต็ม container */
    display: block;
    margin: 0;
}

.btn-login:hover {
    background: linear-gradient(90deg, #333333, #000000);
    transform: translateY(-2px);
}

.login-back-btn {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 999;
  padding: 0;
}

.login-arrow-icon {
  width: 30px;
  height: 30px;
  transition: transform 0.2s ease;
  opacity: 0.85;
  transform: rotate(180deg); 

}

.login-arrow-icon:hover {
  transform: rotate(0deg) scale(1.1);
}

