@font-face {
  font-family: 'PG';
  src: url('./PG Newport DEMO.ttf');
}

@font-face {
  font-family: 'Kanit';
  src: url('./Kanit-Regular.ttf');
}





.body-login {
  font-size: 1.5rem;
  font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    /* background-color: #434343; */
    font-family: 'Kanit';
}

    
.signup-container {
  background-color: #fdfdf0;
  width: 100%;
  max-width: 90%;
  padding: 60px 40px 40px 40px; 
  text-align: center;
  position: relative;
  min-height: 100vh;
  box-sizing: border-box;
  margin: 0 auto; 
}


@keyframes floating {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-9px);
    }
    }


.logo {
    display: block;
    width: 7rem;
    height: 7rem;
    margin: 0 auto -30px;
    animation: floating 3s ease-in-out infinite;
    }

h2 {
    font-family: 'PG';
    margin: 0px;
    font-size: 50px;
    font-weight: 100; 
}

form {
    text-align: left;
}

.input-group {
    position: relative;
    margin-bottom: 20px;
    text-align: left;
    width: 70%;
    margin: 0 auto 20px;
    text-align: left;
}

.input-group label {
    display: flex;
    font-size: 15px;
    margin-bottom: 5px;
    text-transform: uppercase;
    align-items: center;
    font-family: 'Kanit', sans-serif;
}

.input-group label i {
    margin-right: 6px;
    font-size: 15px;
    color: #333;
}

.input-group input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 2px solid #000000;
    outline: none;
    box-sizing: border-box;
    background-color: #FFFFF0;
    font-family: 'Kanit';
    opacity: 50%;
}

.input-group input:focus {
    border-color: #333;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.icon-signup {
    width: 1.5rem;
    margin-bottom: 1px;
}

.btn-signup {
    background: linear-gradient(90deg, #000000, #333333);
    color: white;
    padding: 12px;
    width: 70%;
    font-family: 'Kanit';
    border: none;
    cursor: pointer;
    font-size: 14px;
    margin: 10px auto 0 auto;  
    display: block;            
    transition: 0.2s ease;
}

.btn-signup:hover {
    background: linear-gradient(90deg, #333333, #000000);
    transform: translateY(-2px);
    }


.signup-back-btn {
  position: absolute;       
  top: 20px;
  right: 10px;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 999;
  padding: 0;
}

.signup-arrow-icon {
  width: 30px;
  height: 30px;
  transition: transform 0.2s ease;
  opacity: 0.85;
}

.signup-arrow-icon {
  width: 30px;
  height: 30px;
  transition: transform 0.3s ease;
  opacity: 0.85;
  transform: rotate(0deg); 
}

.signup-arrow-icon:hover {
  transform: rotate(180deg) scale(1.1); 
}

