@font-face {
  font-family: "Kanit";
  src: url("Kanit-Regular.ttf");
}

@font-face {
  font-family: "KanitB";
  src: url("Kanit-Bold.ttf");
}

@font-face {
  font-family: "KanitM";
  src: url("Kanit-Medium.ttf");
}

@font-face {
  font-family: "KanitS";
  src: url("Kanit-SemiBold.ttf");
}

.blog-container {
  font-family: "Prompt", sans-serif;
  background-color: #fffef8;
  color: #111;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

/*Top Bar*/
.top-bar {
  width: 100%;
  height: 107px;
  background-color: #d7eef6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  border-bottom: 2px solid #c02c38;
  box-sizing: border-box;
}

.top {
  display: flex;
  width: 100%;
  justify-content: center;
}

.bar {
  width: 100%;
  max-width: 2000px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  box-sizing: border-box;

  margin-left: 3%;
  margin-right: 3%;

  border-radius: 20px;
  border: 2px solid #c02c38;

  background-color: #fdf8f0;

  display: flex;
  position: relative;
  align-items: center;
}

.bar-by {
  width: 50%;
  height: 100%;
  display: flex;
  background-color: #df2d3b;
  box-sizing: border-box;
  border-radius: 20px;
  position: absolute;
  right: 0px;
  align-items: center;
  margin-left: 50%;
}

/*ปุ่ม*/
.home-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #ffd3d3;
  cursor: pointer;
  margin-right: 3%;
}

.btn-icon {
  display: flex;
  align-items: center;
  width: 50%;
  aspect-ratio: 1 / 1;
  max-width: 60px;
  height: 60px;
}

.home-btn.animate {
  animation: bounce 0.4s ease;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.2);
  }
  60% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

/*------------------------*/

/*Content*/
.post-on {
  font-family: "KanitS";
  color: #000000;
  font-size: clamp(1px, 3vw, 17px);

  margin-left: 2%;
  margin-right: 3%;

  white-space: nowrap;
  overflow: hidden;
}

.expost-on {
  font-family: "KanitM";
  color: #000000;
  font-size: clamp(1px, 3vw, 17px);

  white-space: nowrap;
  overflow: hidden;
}

.by {
  font-family: "KanitS";
  color: #ffffff;
  font-size: clamp(1px, 3vw, 17px);

  margin-left: 5%;
  margin-right: 5%;

  white-space: nowrap;
  overflow: hidden;
}

.exby {
  font-family: "KanitM";
  color: #ffffff;
  font-size: clamp(1px, 3vw, 17px);
  white-space: nowrap;
  overflow: hidden;
}
/*-----------------------*/

/*Body*/
.content {
  text-align: center;
  margin-top: 20px;
  width: 100%;
  box-sizing: border-box;
  flex: 1;
}

.header-img {
  width: 100%;
  max-width: 600px;
  height: 300px;
  border-radius: 31px;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.1);
  display: block;
  margin: auto;
}

/*Blog Title*/
.blog-title1 {
  font-family: "KanitB";
  color: #000000;
  margin-top: 50px;
  font-size: 50px;
  line-height: 1.3;
  text-align: center;
}

.blog-title2 {
  font-family: "KanitB";
  color: #000000;
  font-size: 50px;
  line-height: 1.3;
  text-align: center;
}
/*-----------------------*/

.block {
  width: 100%;
  max-width: 985px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  align-items: center;
  margin: 3% auto;
  box-sizing: border-box;
}

.faceRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

/*r-face*/
.r-face,
.o-face {
  flex: 1;
  max-width: 300px;
  height: 300px;

  background-color: #fffef8;
  border: 1.5px solid #000000;

  display: flex;
  flex-direction: column;
}

.r-description {
  width: 100%;
  max-width: 421px;
  height: 50px;

  display: flex;
  flex-direction: row;
  position: relative;
}

.r-num-block {
  width: 100%;
  max-width: 50px;
  height: 50px;

  background-color: #fffef8;
  border: 1.5px solid #000000;

  border-left-style: none;
  border-top-style: none;
}

.r-num {
  font-family: "KanitS";
  color: #000000;
  font-size: 32px;
}

.r-thai-block {
  width: 100%;
  max-width: 371px;
  height: 50px;

  background-color: #fffef8;
  border: 1.5px solid #000000;

  border-left-style: none;
  border-top-style: none;
  border-right-style: none;
}

.r-thainame {
  font-family: "Kanit";
  color: #000000;
  font-size: 25px;
}

.r-pictures {
  height: 250px;

  display: flex;
  flex-direction: row;
}
.r-j,
.r-pic {
  width: 50%;

  position: relative;
  object-fit: contain;
}

/*o-face*/
.o-description {
  width: 100%;
  max-width: 421px;
  height: 50px;

  display: flex;
  flex-direction: row;
  position: relative;
}

.o-num-block {
  width: 100%;
  max-width: 50px;
  height: 50px;

  background-color: #fffef8;
  border: 1.5px solid #000000;

  border-left-style: none;
  border-top-style: none;
}

.o-num {
  font-family: "KanitS";
  color: #000000;
  font-size: 32px;
}

.o-thai-block {
  width: 100%;
  max-width: 371px;
  height: 50px;

  background-color: #fffef8;
  border: 1.5px solid #000000;

  border-left-style: none;
  border-top-style: none;
  border-right-style: none;
}

.o-thainame {
  font-family: "Kanit";
  color: #000000;
  font-size: 25px;
}

.o-pictures {
  height: 250px;

  display: flex;
  flex-direction: row;
}

.o-j,
.o-pic {
  width: 50%;
  position: relative;
  object-fit: contain;
}

/*----------------------------*/

.faceRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.s-face,
.h-face {
  flex: 1;
  max-width: 300px;
  height: 300px;

  background-color: #fffef8;
  border: 1.5px solid #000000;

  display: flex;
  flex-direction: column;
}

/*s-face*/
.s-description {
  width: 100%;
  max-width: 421px;
  height: 50px;

  display: flex;
  flex-direction: row;
  position: relative;
}

.s-num-block {
  width: 100%;
  max-width: 50px;
  height: 50px;

  background-color: #fffef8;
  border: 1.5px solid #000000;

  border-left-style: none;
  border-top-style: none;
}

.s-num {
  font-family: "KanitS";
  color: #000000;
  font-size: 32px;
}

.s-thai-block {
  width: 100%;
  max-width: 371px;
  height: 50px;

  background-color: #fffef8;
  border: 1.5px solid #000000;

  border-left-style: none;
  border-top-style: none;
  border-right-style: none;
}

.s-thainame {
  font-family: "Kanit";
  color: #000000;
  font-size: 25px;
}

.s-pictures {
  height: 250px;

  display: flex;
  flex-direction: row;
}
.s-j,
.s-pic {
  width: 50%;

  position: relative;
  object-fit: contain;
}

/*h-face*/
.h-description {
  width: 100%;
  max-width: 421px;
  height: 50px;

  display: flex;
  flex-direction: row;
  position: relative;
}

.h-num-block {
  width: 100%;
  max-width: 50px;
  height: 50px;

  background-color: #fffef8;
  border: 1.5px solid #000000;

  border-left-style: none;
  border-top-style: none;
}

.h-num {
  font-family: "KanitS";
  color: #000000;
  font-size: 32px;
}

.h-thai-block {
  width: 100%;
  max-width: 371px;
  height: 50px;

  background-color: #fffef8;
  border: 1.5px solid #000000;

  border-left-style: none;
  border-top-style: none;
  border-right-style: none;
}

.h-thainame {
  font-family: "Kanit";
  color: #000000;
  font-size: 25px;
}

.h-pictures {
  height: 250px;

  display: flex;
  flex-direction: row;
}
.h-j,
.h-pic {
  width: 50%;

  position: relative;
  object-fit: contain;
}

/*----------------------------*/

.faceRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.rec-face,
.d-face {
  flex: 1;
  max-width: 300px;
  height: 300px;

  background-color: #fffef8;
  border: 1.5px solid #000000;

  display: flex;
  flex-direction: column;
}

/*rec-face*/
.rec-description {
  width: 100%;
  max-width: 421px;
  height: 50px;

  display: flex;
  flex-direction: row;
  position: relative;
}

.rec-num-block {
  width: 100%;
  max-width: 50px;
  height: 50px;

  background-color: #fffef8;
  border: 1.5px solid #000000;

  border-left-style: none;
  border-top-style: none;
}

.rec-num {
  font-family: "KanitS";
  color: #000000;
  font-size: 32px;
}

.rec-thai-block {
  width: 100%;
  max-width: 371px;
  height: 50px;

  background-color: #fffef8;
  border: 1.5px solid #000000;

  border-left-style: none;
  border-top-style: none;
  border-right-style: none;
}

.rec-thainame {
  font-family: "Kanit";
  color: #000000;
  font-size: 25px;
}

.rec-pictures {
  height: 220px;

  display: flex;
  flex-direction: row;
}
.rec-j,
.rec-pic {
  width: 50%;

  position: relative;
  object-fit: contain;
}

/*d-face*/
.d-description {
  width: 100%;
  max-width: 421px;
  height: 50px;

  display: flex;
  flex-direction: row;
  position: relative;
}

.d-num-block {
  width: 100%;
  max-width: 50px;
  height: 50px;

  background-color: #fffef8;
  border: 1.5px solid #000000;

  border-left-style: none;
  border-top-style: none;
}

.d-num {
  font-family: "KanitS";
  color: #000000;
  font-size: 32px;
}

.d-thai-block {
  width: 100%;
  max-width: 371px;
  height: 50px;

  background-color: #fffef8;
  border: 1.5px solid #000000;

  border-left-style: none;
  border-top-style: none;
  border-right-style: none;
}

.d-thainame {
  font-family: "Kanit";
  color: #000000;
  font-size: 25px;
}

.d-pictures {
  height: 250px;

  display: flex;
  flex-direction: row;
}
.d-j,
.d-pic {
  width: 50%;

  position: relative;
  object-fit: contain;
}

/*----------------------------*/

/*แหล่งที่มา*/
.from {
  position: relative;
  text-align: left;
  align-self: flex-start;
  margin-left: 3%;
  margin-bottom: 3%;
}
.from1 {
  font-family: "KanitS";
  color: #000000;
  font-size: clamp(1px, 3vw, 32px);

  position: relative;
  white-space: nowrap;
  overflow: hidden;
}

.from2 {
  font-family: "Kanit";
  color: #000000;
  font-size: clamp(1px, 3vw, 15px);
  padding: 0 0 50px;

  white-space: nowrap;
  overflow: hidden;
}

.from3 {
  font-family: "Kanit";
  color: #000000;
  font-size: clamp(1px, 3vw, 15px);
  padding: 0 0 5px;

  white-space: nowrap;
  overflow: hidden;
}
/*----------------------------------------*/

/*Footer*/
.footer {
  height: 7rem;
  background-color: #d7eef6;
  text-align: left;
  flex-shrink: 0;
  border-top: 2px solid #c02c38;
}

.logo {
  font-family: "KanitB";
  color: #e43333;
  font-size: 64px;
  margin-top: 1rem;
  margin-left: 2%;
}
/*--------------------------------------------*/

@media (max-width: 640px) {
  .top-bar {
    width: 100%;
    height: 8rem;
    border-bottom: 2px solid #c02c38;
  }

  .home-btn {
    width: 4rem;
    height: 4rem;

    margin-right: 5%;
  }

  .btn-icon {
    max-width: 4rem;
    height: 4rem;
  }
  .bar {
    width: 100%;
    max-width: 60rem;
    height: 3rem;

    margin-left: 5%;
    margin-right: 5%;

    border-radius: 20px;
    border: 2px solid #c02c38;
  }

  .bar-by {
    width: 50%;
    height: 100%;
  }

  .post-on {
    font-size: 1.1rem;

    margin-left: 3%;
    margin-right: 3%;
  }

  .expost-on {
    font-size: 1.1rem;
  }

  .by {
    font-size: 1.1rem;

    margin-left: 7%;
    margin-right: 5%;
  }

  .exby {
    font-size: 1.1rem;
    margin-left: 3%;
  }
  .from {
    margin-top: 40%;
  }
  .from1 {
    font-size: 1.3rem;
  }

  .from2 {
    font-size: 1.1rem;
  }

  .from3 {
    font-size: 1.1rem;
  }

  .logo {
    font-size: 4rem;
  }

  .header-img {
    width: 100%;
    max-width: 30rem;
    height: 15rem;
    border-radius: 2rem;
  }
  .blog-title1 {
    margin-top: 2rem;
    font-size: 3rem;
  }

  .blog-title2 {
    font-size: 3rem;
    line-height: 1.3;
    margin-bottom: 2rem;
  }

  .block {
    max-width: 30rem;
  }

  .rec-face,
  .d-face,
  .s-face,
  .h-face,
  .r-face,
  .o-face {
    max-width: 15rem;
    height: 15rem;
    border: 1.5px solid #000000;
  }

  .rec-description,
  .d-description,
  .s-description,
  .h-description,
  .o-description,
  .r-description {
    max-width: 15rem;
    height: 20rem;
  }

  .rec-num-block,
  .d-num-block,
  .s-num-block,
  .h-num-block,
  .o-num-block,
  .r-num-block {
    max-width: 4rem;
    height: 5rem;
  }

  .rec-num,
  .d-num,
  .s-num,
  .h-num,
  .o-num,
  .r-num {
    font-size: 2rem;
  }

  .rec-thai-block,
  .d-thai-block,
  .s-thai-block,
  .h-thai-block,
  .o-thai-block,
  .r-thai-block {
    max-width: 12rem;
    height: 5rem;
  }

  .rec-thainame,
  .d-thainame,
  .s-thainame,
  .h-thainame,
  .o-thainame,
  .r-thainame {
    font-size: 1.4rem;
  }

  .rec-pictures,
  .d-pictures,
  .s-pictures,
  .h-pictures,
  .o-pictures,
  .r-pictures {
    height: 10rem;
  }
}

@media (min-width: 640px) {
  .top-bar {
    width: 100%;
    height: 8rem;
    border-bottom: 2px solid #c02c38;
  }

  .home-btn {
    width: 4rem;
    height: 4rem;

    margin-right: 5%;
  }

  .btn-icon {
    max-width: 4rem;
    height: 4rem;
  }
  .bar {
    width: 100%;
    max-width: 90rem;
    height: 3rem;

    margin-left: 5%;
    margin-right: 5%;

    border-radius: 20px;
    border: 2px solid #c02c38;
  }

  .bar-by {
    width: 50%;
    height: 100%;
  }

  .post-on {
    font-size: 1.5rem;

    margin-left: 3%;
    margin-right: 3%;
  }

  .expost-on {
    font-size: 1.5rem;
  }

  .by {
    font-size: 1.5rem;

    margin-left: 7%;
    margin-right: 5%;
  }

  .exby {
    font-size: 1.5rem;

    margin-left: 3%;
  }
  .from {
    margin-top: 20%;
  }
  .from1 {
    font-size: 1.3rem;
  }

  .from2 {
    font-size: 1.1rem;
  }

  .from3 {
    font-size: 1.1rem;
  }

  .logo {
    font-size: 4rem;
  }

  .header-img {
    width: 100%;
    max-width: 40rem;
    height: 20rem;
    border-radius: 2rem;
  }
  .blog-title1 {
    margin-top: 2rem;
    font-size: 4rem;
  }

  .blog-title2 {
    font-size: 4rem;
    line-height: 1.3;
    margin-bottom: 2rem;
  }

  .block {
    max-width: 30rem;
  }

  .rec-face,
  .d-face,
  .s-face,
  .h-face,
  .r-face,
  .o-face {
    max-width: 15rem;
    height: 15rem;
    border: 1.5px solid #000000;
  }

  .rec-description,
  .d-description,
  .s-description,
  .h-description,
  .o-description,
  .r-description {
    max-width: 15rem;
    height: 20rem;
  }

  .rec-num-block,
  .d-num-block,
  .s-num-block,
  .h-num-block,
  .o-num-block,
  .r-num-block {
    max-width: 4rem;
    height: 5rem;
  }

  .rec-num,
  .d-num,
  .s-num,
  .h-num,
  .o-num,
  .r-num {
    font-size: 2rem;
  }

  .rec-thai-block,
  .d-thai-block,
  .s-thai-block,
  .h-thai-block,
  .o-thai-block,
  .r-thai-block {
    max-width: 12rem;
    height: 5rem;
  }

  .rec-thainame,
  .d-thainame,
  .s-thainame,
  .h-thainame,
  .o-thainame,
  .r-thainame {
    font-size: 1.4rem;
  }

  .rec-pictures,
  .d-pictures,
  .s-pictures,
  .h-pictures,
  .o-pictures,
  .r-pictures {
    height: 10rem;
  }
}

@media (min-width: 1024px) {
  .top-bar {
    width: 100%;
    height: 8rem;
    border-bottom: 2px solid #c02c38;
  }

  .home-btn {
    width: 5rem;
    height: 5rem;

    margin-right: 5%;
  }

  .btn-icon {
    max-width: 5rem;
    height: 5rem;
  }
  .bar {
    width: 100%;
    max-width: 150rem;
    height: 3rem;

    margin-left: 5%;
    margin-right: 5%;

    border-radius: 20px;
    border: 2px solid #c02c38;
  }

  .bar-by {
    width: 50%;
    height: 100%;
  }

  .post-on {
    font-size: 2rem;

    margin-left: 3%;
    margin-right: 3%;
  }

  .expost-on {
    font-size: 2rem;
  }

  .by {
    font-size: 2rem;

    margin-left: 7%;
    margin-right: 5%;
  }

  .exby {
    font-size: 2rem;

    margin-left: 3%;
  }
  .from1 {
    font-size: 2rem;
  }

  .from2 {
    font-size: 1.5rem;
  }

  .from3 {
    font-size: 1.5rem;
  }

  .logo {
    font-size: 4rem;
  }

  .header-img {
    width: 100%;
    max-width: 70rem;
    height: 35rem;
    border-radius: 2rem;
  }
  .blog-title1 {
    margin-top: 2rem;
    font-size: 6rem;
  }

  .blog-title2 {
    font-size: 6rem;
    line-height: 1.3;
    margin-bottom: 2rem;
  }

  .block {
    max-width: 985px;
  }

  .rec-face,
  .d-face,
  .s-face,
  .h-face,
  .r-face,
  .o-face {
    max-width: 300px;
    height: 300px;
    border: 2px solid #000000;
  }

  .rec-description,
  .d-description,
  .s-description,
  .h-description,
  .o-description,
  .r-description {
    max-width: 421px;
    height: 50px;
  }

  .rec-num-block,
  .d-num-block,
  .s-num-block,
  .h-num-block,
  .o-num-block,
  .r-num-block {
    max-width: 50px;
    height: 50px;
  }

  .rec-num,
  .d-num,
  .s-num,
  .h-num,
  .o-num,
  .r-num {
    font-size: 32px;
  }

  .rec-thai-block,
  .d-thai-block,
  .s-thai-block,
  .h-thai-block,
  .o-thai-block,
  .r-thai-block {
    max-width: 371px;
    height: 50px;
  }

  .rec-thainame,
  .d-thainame,
  .s-thainame,
  .h-thainame,
  .o-thainame,
  .r-thainame {
    font-size: 25px;
  }

  .rec-pictures,
  .d-pictures,
  .s-pictures,
  .h-pictures,
  .o-pictures,
  .r-pictures {
    height: 250px;
  }
}
