@font-face {
  font-family: "Kanit";
  src: url("Kanit-Regular.ttf");
}

@font-face {
  font-family: "KanitB";
  src: url("Kanit-Bold.ttf");
}

@font-face {
  font-family: "KanitM";
  src: url("Kanit-Medium.ttf");
}

@font-face {
  font-family: "KanitS";
  src: url("Kanit-SemiBold.ttf");
}

.LuckyC-blog-container {
  font-family: "Prompt", sans-serif;
  background-color: #fffef8;
  color: #111;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  width: 100%;
}

/*Top Bar*/
.LuckyC-top-bar {
  width: 100%;
  height: 107px;
  background-color: #d7eef6;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-bottom: 2px solid #c02c38;
  box-sizing: border-box;
}

.LuckyC-top {
  display: flex;
  width: 100%;
  justify-content: center;
}

.LuckyC-bar {
  width: 100%;
  max-width: 2000px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: flex;
  margin-left: 3%;
  margin-right: 3%;
  border: 2px solid #c02c38;
  background-color: #fdf8f0;
  box-sizing: border-box;
  border-radius: 20px;
  position: relative;
  align-items: center;
}

.LuckyC-bar-by {
  width: 50%;
  height: 100%;
  display: flex;
  background-color: #df2d3b;
  box-sizing: border-box;
  border-radius: 20px;
  position: absolute;
  right: 100;
  align-items: center;
  margin-left: 50%;
}

/*ปุ่ม*/
.LuckyC-home-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #ffd3d3;
  cursor: pointer;
  margin-right: 3%;
}

.LuckyC-btn-icon {
  display: flex;
  align-items: center;
  width: 50%;
  aspect-ratio: 1 / 1;
  max-width: 60px;
  height: 60px;
}

.LuckyC-home-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #ffd3d3;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.LuckyC-home-btn.animate {
  animation: bounce 0.4s ease;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.2);
  }
  60% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

/*------------------------*/

/*Content*/
.LuckyC-post-on {
  font-family: "KanitS";
  color: #000000;
  font-size: 17px;
  margin-left: 15px;
  margin-right: 15px;
}

.LuckyC-expost-on {
  font-family: "KanitM";
  color: #000000;
  font-size: 17px;
}

.LuckyC-by {
  font-family: "KanitS";
  color: #ffffff;
  font-size: 17px;
  margin-left: 15px;
  margin-right: 15px;
}

.LuckyC-exby {
  font-family: "KanitM";
  color: #ffffff;
  font-size: 17px;
}
/*-----------------------*/
/*---------------------------*/

/*Body*/
.LuckyC-content {
  text-align: center;
  margin-top: 20px;
  width: 100%;
  box-sizing: border-box;
}

.LuckyC-header-img {
  width: 100%;
  max-width: 600px;
  height: 300px;
  border-radius: 31px;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.1);
  display: block;
  margin: auto;
}

/*Blog Title*/
.LuckyC-blog-title1 {
  font-family: "KanitB";
  color: #000000;
  margin-top: 50px;
  font-size: 50px;
  line-height: 1.3;
  text-align: center;
}

.LuckyC-blog-topic {
  text-align: left;
  font-family: "kanitM";
  color: #df2d3b;
  font-size: 3rem;
  padding-left: 4rem;
  padding-right: 2rem;
  margin-top: 2rem;
}

.LuckyC-blog-content {
  text-align: left;
  font-family: "kanit";

  font-size: 1.5rem;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-bottom: 2rem;
}

ul.LuckyC-blog-content {
  list-style-type: circle;
  color: #000000;
  margin-left: 4rem;
}

/*-----------------------*/

.LuckyC-style-section {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.LuckyC-style-item {
  position: relative;
  max-width: 700px;
  width: 100%;
}

.LuckyC-style-img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
}

/*Day*/
.LuckyC-day-list {
  position: absolute;
  bottom: 50px;
  right: -60px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.LuckyC-day {
  font-family: "KanitM";
  color: #000000;
  border-radius: 20px;
  text-align: center;
  border: 2px solid #000000;
  font-size: 12px;
}

/*แหล่งที่มา*/
.LuckyC-from {
  position: relative;
  text-align: left;
  align-self: flex-start;
  margin-left: 3%;
  margin-bottom: 3%;
}
.LuckyC-from1 {
  font-family: "KanitS";
  color: #000000;
  font-size: 3rem;
  line-height: 2;
  position: relative;
}

.LuckyC-from2 {
  font-family: "Kanit";
  color: #000000;
  font-size: 2rem;
  padding: 0 0 50px;
}
/*----------------------------------------*/

/*Footer*/
.LuckyC-footer {
  width: 100%;
  height: 7rem;
  background-color: #d7eef6;
  text-align: left;
  border-top: 2px solid #c02c38;
}

.LuckyC-logo {
  font-family: "KanitB";
  color: #e43333;
  font-size: 64px;
  margin-left: 2%;
}

.LuckyC-style-img {
  width: 100%;
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  display: block;
  border-radius: 10px;
}
/*--------------------------*/
/*--------------------------------------------*/

@media (max-width: 640px) {
  .LuckyC-top-bar {
    width: 100%;
    height: 8rem;
    border-bottom: 2px solid #c02c38;
  }

  .LuckyC-home-btn {
    width: 4rem;
    height: 4rem;

    margin-right: 5%;
  }

  .LuckyC-btn-icon {
    max-width: 4rem;
    height: 4rem;
  }
  .LuckyC-bar {
    width: 100%;
    max-width: 60rem;
    height: 3rem;

    margin-left: 5%;
    margin-right: 5%;

    border-radius: 20px;
    border: 2px solid #c02c38;
  }

  .LuckyC-bar-by {
    width: 50%;
    height: 100%;
  }

  .LuckyC-post-on {
    font-size: 1.1rem;

    margin-left: 3%;
    margin-right: 3%;
  }

  .LuckyC-expost-on {
    font-size: 1.1rem;
  }

  .LuckyC-by {
    font-size: 1.1rem;

    margin-left: 7%;
    margin-right: 5%;
  }

  .LuckyC-exby {
    font-size: 1.1rem;
    margin-left: 3%;
  }
  .LuckyC-from {
    margin-top: 40%;
  }
  .LuckyC-from1 {
    font-size: 1.3rem;
  }

  .LuckyC-from2 {
    font-size: 1.1rem;
  }

  .LuckyC-from3 {
    font-size: 1.1rem;
  }

  .LuckyC-logo {
    font-size: 4rem;
  }

  .LuckyC-header-img {
    width: 100%;
    max-width: 30rem;
    height: 15rem;
    border-radius: 2rem;
  }
  .LuckyC-blog-title1 {
    margin-top: 2rem;
    font-size: 3rem;
  }

  .LuckyC-blog-title2 {
    font-size: 3rem;
    line-height: 1.3;
    margin-bottom: 2rem;
  }

  .LuckyC-style-img {
    width: 100%;
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    display: block;
    border-radius: 10px;
  }

  .LuckyC-blog-topic {
    text-align: left;
    font-family: "kanitM";
    color: #df2d3b;
    font-size: 2rem;
    padding-left: 4rem;
    padding-right: 2rem;
    margin-top: 2rem;
  }

  .LuckyC-blog-content {
    text-align: left;
    font-family: "kanit";

    font-size: 1rem;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-bottom: 2rem;
  }
}
@media (min-width: 640px) {
  .LuckyC-top-bar {
    width: 100%;
    height: 8rem;
    border-bottom: 2px solid #c02c38;
  }

  .LuckyC-home-btn {
    width: 4rem;
    height: 4rem;

    margin-right: 5%;
  }

  .LuckyC-btn-icon {
    max-width: 4rem;
    height: 4rem;
  }
  .LuckyC-bar {
    width: 100%;
    max-width: 90rem;
    height: 3rem;

    margin-left: 5%;
    margin-right: 5%;

    border-radius: 20px;
    border: 2px solid #c02c38;
  }

  .LuckyC-bar-by {
    width: 50%;
    height: 100%;
  }

  .LuckyC-post-on {
    font-size: 1.5rem;

    margin-left: 3%;
    margin-right: 3%;
  }

  .LuckyC-expost-on {
    font-size: 1.5rem;
  }

  .LuckyC-by {
    font-size: 1.5rem;

    margin-left: 7%;
    margin-right: 5%;
  }

  .LuckyC-exby {
    font-size: 1.5rem;

    margin-left: 3%;
  }
  .LuckyC-from {
    margin-top: 20%;
  }
  .LuckyC-from1 {
    font-size: 1.3rem;
  }

  .LuckyC-from2 {
    font-size: 1.1rem;
  }

  .LuckyC-from3 {
    font-size: 1.1rem;
  }

  .LuckyC-logo {
    font-size: 4rem;
  }

  .LuckyC-header-img {
    width: 100%;
    max-width: 40rem;
    height: 20rem;
    border-radius: 2rem;
  }
  .LuckyC-blog-title1 {
    margin-top: 2rem;
    font-size: 4rem;
  }

  .LuckyC-blog-title2 {
    font-size: 4rem;
    line-height: 1.3;
    margin-bottom: 2rem;
  }

  .LuckyC-style-img {
    width: 100%;
    max-width: 60rem;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    display: block;
    border-radius: 10px;
  }
}

@media (min-width: 1024px) {
  .LuckyC-blog-container {
    font-family: "Prompt", sans-serif;
    background-color: #fffef8;
    color: #111;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    width: 100%;
  }

  /*Top Bar*/
  .LuckyC-top-bar {
    width: 100%;
    height: 107px;
    background-color: #d7eef6;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-bottom: 2px solid #c02c38;
    box-sizing: border-box;
  }

  .LuckyC-top {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .LuckyC-bar {
    width: 100%;
    max-width: 2000px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    display: flex;
    margin-left: 3%;
    margin-right: 3%;
    border: 2px solid #c02c38;
    background-color: #fdf8f0;
    box-sizing: border-box;
    border-radius: 20px;
    position: relative;
    align-items: center;
  }

  .LuckyC-bar-by {
    width: 50%;
    height: 100%;
    display: flex;
    background-color: #df2d3b;
    box-sizing: border-box;
    border-radius: 20px;
    position: absolute;
    right: 100;
    align-items: center;
    margin-left: 50%;
  }

  /*ปุ่ม*/
  .LuckyC-home-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #ffd3d3;
    cursor: pointer;
    margin-right: 3%;
  }

  .LuckyC-btn-icon {
    display: flex;
    align-items: center;
    width: 50%;
    aspect-ratio: 1 / 1;
    max-width: 60px;
    height: 60px;
  }

  .LuckyC-home-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #ffd3d3;
    cursor: pointer;
    transition: transform 0.2s ease;
  }

  .LuckyC-home-btn.animate {
    animation: bounce 0.4s ease;
  }

  @keyframes bounce {
    0% {
      transform: scale(1);
    }
    30% {
      transform: scale(1.2);
    }
    60% {
      transform: scale(0.9);
    }
    100% {
      transform: scale(1);
    }
  }

  /*------------------------*/

  /*Content*/
  .LuckyC-post-on {
    font-family: "KanitS";
    color: #000000;
    font-size: 17px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .LuckyC-expost-on {
    font-family: "KanitM";
    color: #000000;
    font-size: 17px;
  }

  .LuckyC-by {
    font-family: "KanitS";
    color: #ffffff;
    font-size: 17px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .LuckyC-exby {
    font-family: "KanitM";
    color: #ffffff;
    font-size: 17px;
  }
  /*-----------------------*/
  /*---------------------------*/

  /*Body*/
  .LuckyC-content {
    text-align: center;
    margin-top: 20px;
    width: 100%;
    box-sizing: border-box;
  }

  .LuckyC-header-img {
    width: 100%;
    max-width: 600px;
    height: 300px;
    border-radius: 31px;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.1);
    display: block;
    margin: auto;
  }

  /*Blog Title*/
  .LuckyC-blog-title1 {
    font-family: "KanitB";
    color: #000000;
    margin-top: 50px;
    font-size: 50px;
    line-height: 1.3;
    text-align: center;
  }

  .LuckyC-blog-topic {
    text-align: left;
    font-family: "kanitM";
    color: #df2d3b;
    font-size: 3rem;
    padding-left: 4rem;
    padding-right: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .LuckyC-blog-content {
    text-align: left;
    font-family: "kanit";

    font-size: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-bottom: 2rem;
  }

  ul.LuckyC-blog-content {
    list-style-type: circle;
    color: #000000;
    margin-left: 4rem;
  }

  /*-----------------------*/

  .LuckyC-style-section {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .LuckyC-style-item {
    position: relative;
    max-width: 700px;
    width: 100%;
  }

  .LuckyC-style-img {
    width: 100%;
    max-width: 1000rem;
    height: auto;
    display: block;
    border-radius: 10px;
  }

  /*Day*/
  .LuckyC-day-list {
    position: absolute;
    bottom: 50px;
    right: -60px;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .LuckyC-day {
    font-family: "KanitM";
    color: #000000;
    border-radius: 20px;
    text-align: center;
    border: 2px solid #000000;
    font-size: 12px;
  }

  /*แหล่งที่มา*/
  .LuckyC-from {
    position: relative;
    text-align: left;
    align-self: flex-start;
    margin-left: 3%;
    margin-bottom: 3%;
  }
  .LuckyC-from1 {
    font-family: "KanitS";
    color: #000000;
    font-size: 3rem;
    line-height: 2;
    position: relative;
  }

  .LuckyC-from2 {
    font-family: "Kanit";
    color: #000000;
    font-size: 2rem;
    padding: 0 0 50px;
  }
  /*----------------------------------------*/

  /*Footer*/
  .LuckyC-footer {
    width: 100%;
    height: 7rem;
    background-color: #d7eef6;
    text-align: left;
    border-top: 2px solid #c02c38;
  }

  .LuckyC-logo {
    font-family: "KanitB";
    color: #e43333;
    font-size: 4rem;
    margin-left: 2%;
  }
}
