@font-face {
  font-family: "Kanit";
  src: url("Kanit-Regular.ttf");
}

@font-face {
  font-family: "KanitB";
  src: url("Kanit-Bold.ttf");
}

@font-face {
  font-family: "KanitM";
  src: url("Kanit-Medium.ttf");
}

@font-face {
  font-family: "KanitS";
  src: url("Kanit-SemiBold.ttf");
}

.perC-blog-container {
  font-family: "Prompt", sans-serif;
  background-color: #fffef8;
  color: #111;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

/*Top Bar*/
.perC-top-bar {
  width: 100%;
  height: 107px;
  background-color: #d7eef6;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-bottom: 2px solid #c02c38;
  box-sizing: border-box;
}

.perC-top {
  display: flex;
  width: 100%;
  justify-content: center;
}

.perC-bar {
  width: 100%;
  max-width: 2000px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: flex;
  margin-left: 3%;
  margin-right: 3%;
  border: 2px solid #c02c38;
  background-color: #fdf8f0;
  box-sizing: border-box;
  border-radius: 20px;
  position: relative;
  align-items: center;
}

.perC-bar-by {
  width: 50%;
  height: 100%;
  display: flex;
  background-color: #df2d3b;
  box-sizing: border-box;
  border-radius: 20px;
  position: absolute;
  right: 100;
  align-items: center;
  margin-left: 50%;
}

/*ปุ่ม*/
.perC-home-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #ffd3d3;
  cursor: pointer;
  margin-right: 3%;
}

.perC-btn-icon {
  display: flex;
  align-items: center;
  width: 50%;
  aspect-ratio: 1 / 1;
  max-width: 60px;
  height: 60px;
}

.perC-home-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #ffd3d3;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.perC-home-btn.animate {
  animation: bounce 0.4s ease;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.2);
  }
  60% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

/*------------------------*/

/*Content*/
.perC-post-on {
  font-family: "KanitS";
  color: #000000;
  font-size: 17px;
  margin-left: 15px;
  margin-right: 15px;
}

.perC-expost-on {
  font-family: "KanitM";
  color: #000000;
  font-size: 17px;
}

.perC-by {
  font-family: "KanitS";
  color: #ffffff;
  font-size: 17px;
  margin-left: 15px;
  margin-right: 15px;
}

.perC-exby {
  font-family: "KanitM";
  color: #ffffff;
  font-size: 17px;
}
/*-----------------------*/
/*---------------------------*/

/*Body*/
.perC-content {
  flex: 1;
  text-align: center;
  margin-top: 20px;
  width: 100%;
  box-sizing: border-box;
}

.perC-header-img {
  width: 100%;
  max-width: 600px;
  height: 300px;
  border-radius: 31px;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.1);
  display: block;
  margin: auto;
}

/*Blog Title*/
.perC-blog-title1 {
  font-family: "KanitB";
  color: #000000;
  margin-top: 50px;
  font-size: 50px;
  line-height: 1.3;
  text-align: center;
}

.perC-blog-topic {
  text-align: left;
  font-family: "kanit";
  color: #df2d3b;
  font-size: 3rem;
  padding-left: 4rem;
  padding-right: 2rem;
}

.perC-blog-content {
  text-align: left;
  font-family: "kanit";

  font-size: 1.5rem;
  margin: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
}
/*-----------------------*/

.perC-style-section {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.perC-style-item {
  position: relative;
  max-width: 700px;
  width: 100%;
}

.perC-style-img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
}

/*Day*/
.perC-day-list {
  position: absolute;
  bottom: 50px;
  right: -60px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.perC-day {
  font-family: "KanitM";
  color: #000000;
  border-radius: 20px;
  text-align: center;
  border: 2px solid #000000;
  font-size: 12px;
}

/*แหล่งที่มา*/
.perC-from {
  position: relative;
  text-align: left;
  align-self: flex-start;
  margin-left: 3%;
  margin-bottom: 3%;
}
.perC-from1 {
  font-family: "Kanit";
  color: #000000;
  font-size: 32px;
  line-height: 2;
  position: relative;
}

.perC-from2 {
  font-family: "Kanit";
  color: #000000;
  font-size: 15px;
  padding: 0 0 50px;
}
/*----------------------------------------*/

/*Footer*/
.perC-footer {
  height: 7rem;
  background-color: #d7eef6;
  text-align: left;
  flex-shrink: 0;
  border-top: 2px solid #c02c38;
}

.perC-logo {
  font-family: "KanitB";
  color: #e43333;
  font-size: 1rem;
  margin-top: 1rem;
  margin-left: 2%;
}
/*--------------------------*/
/*--------------------------------------------*/

@media (max-width: 640px) {
  .perC-top-bar {
    width: 100%;
    height: 8rem;
    border-bottom: 2px solid #c02c38;
  }

  .perC-home-btn {
    width: 4rem;
    height: 4rem;
    margin-right: 5%;
  }

  .perC-btn-icon {
    max-width: 4rem;
    height: 4rem;
  }
  .perC-bar {
    width: 100%;
    max-width: 60rem;
    height: 3rem;

    margin-left: 5%;
    margin-right: 5%;

    border-radius: 20px;
    border: 2px solid #c02c38;
  }

  .perC-bar-by {
    width: 50%;
    height: 100%;
  }

  .perC-post-on {
    font-size: 1.1rem;
    margin-left: 3%;
    margin-right: 3%;
  }

  .perC-expost-on {
    font-size: 1.1rem;
  }

  .perC-by {
    font-size: 1.1rem;

    margin-left: 7%;
    margin-right: 5%;
  }

  .perC-exby {
    font-size: 1.1rem;
    margin-left: 3%;
  }

  .perC-from {
    margin-top: 40%;
  }

  .perC-from1 {
    font-size: 1.3rem;
  }

  .perC-from2 {
    font-size: 1.1rem;
  }

  .perC-from3 {
    font-size: 1.1rem;
  }

  .perC-logo {
    font-size: 4rem;
  }

  .perC-header-img {
    width: 100%;
    max-width: 30rem;
    height: 15rem;
    border-radius: 2rem;
  }
  .perC-blog-title1 {
    margin-top: 2rem;
    font-size: 3rem;
  }

  .perC-blog-title2 {
    font-size: 3rem;
    line-height: 1.3;
    margin-bottom: 2rem;
  }

  .perC-blog-topic {
    font-size: 2rem;
    margin-top: 3rem;
    padding-left: 4rem;
    padding-right: 2rem;
  }
  .perC-blog-content {
    font-size: 1.3rem;
    margin: 2rem;
    margin-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
  }
  .perC-style-item {
    max-width: 30rem;
    width: 100%;
    margin-bottom: 1rem;
  }
  .perC-style-img {
    margin-top: 3rem;
  }
}

@media (min-width: 640px) {
  .perC-top-bar {
    width: 100%;
    height: 8rem;
    border-bottom: 2px solid #c02c38;
  }

  .perC-home-btn {
    width: 4rem;
    height: 4rem;

    margin-right: 5%;
  }

  .perC-btn-icon {
    max-width: 4rem;
    height: 4rem;
  }
  .perC-bar {
    width: 100%;
    max-width: 90rem;
    height: 3rem;

    margin-left: 5%;
    margin-right: 5%;

    border-radius: 20px;
    border: 2px solid #c02c38;
  }

  .perC-bar-by {
    width: 50%;
    height: 100%;
  }

  .perC-post-on {
    font-size: 1.5rem;

    margin-left: 3%;
    margin-right: 3%;
  }

  .perC-expost-on {
    font-size: 1.5rem;
  }

  .perC-by {
    font-size: 1.5rem;

    margin-left: 7%;
    margin-right: 5%;
  }

  .perC-exby {
    font-size: 1.5rem;

    margin-left: 3%;
  }
  .perC-from {
    margin-top: 20%;
  }
  .perC-from1 {
    font-size: 1.3rem;
  }

  .perC-from2 {
    font-size: 1.1rem;
  }

  .perC-from3 {
    font-size: 1.1rem;
  }

  .perC-logo {
    font-size: 4rem;
  }

  .perC-header-img {
    width: 100%;
    max-width: 40rem;
    height: 20rem;
    border-radius: 2rem;
  }
  .perC-blog-title1 {
    margin-top: 2rem;
    font-size: 4rem;
  }
  
  .perC-blog-topic {
    font-size: 3rem;
    margin-top: 4rem;
    padding-left: 4rem;
    padding-right: 3rem;
  }
  .perC-blog-content {
    font-size: 2rem;
    margin: 2rem;
    margin-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
  }
  .perC-style-item {
    max-width: 50rem;
    width: 100%;
    margin-bottom: 1rem;
  }
  .perC-style-img {
    margin-top: 3rem;
  }

}

@media (min-width: 1024px) {
  .perC-top-bar {
    width: 100%;
    height: 8rem;
    border-bottom: 2px solid #c02c38;
  }

  .perC-home-btn {
    width: 5rem;
    height: 5rem;

    margin-right: 5%;
  }

  .perC-btn-icon {
    max-width: 5rem;
    height: 5rem;
  }
  .perC-bar {
    width: 100%;
    max-width: 90rem;
    height: 3rem;

    margin-left: 5%;
    margin-right: 5%;

    border-radius: 20px;
    border: 2px solid #c02c38;
  }

  .perC-bar-by {
    width: 50%;
    height: 100%;
  }

  .perC-post-on {
    font-size: 2rem;

    margin-left: 3%;
    margin-right: 3%;
  }

  .perC-expost-on {
    font-size: 2rem;
  }

  .perC-by {
    font-size: 2rem;

    margin-left: 7%;
    margin-right: 5%;
  }

  .perC-exby {
    font-size: 2rem;
    margin-left: 3%;
  }

  .perC-from {
    margin-top: 20%;
  }

  .perC-from1 {
    font-size: 2rem;
  }

  .perC-from2 {
    font-size: 1.5rem;
  }

  .perC-from3 {
    font-size: 1.5rem;
  }

  .perC-logo {
    font-size: 4rem;
  }

  .perC-header-img {
    width: 100%;
    max-width: 70rem;
    height: 35rem;
    border-radius: 2rem;
  }
  .perC-blog-title1 {
    margin-top: 2rem;
    font-size: 6rem;
  }

  .perC-blog-topic {
    font-size: 3rem;
    margin-top: 4rem;
    padding-left: 4rem;
    padding-right: 3rem;
  }
  .perC-blog-content {
    font-size: 2rem;
    margin: 2rem;
    margin-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
  }
  .perC-style-item {
    max-width: 70rem;
    width: 100%;
    margin-bottom: 1rem;
  }
  .perC-style-img {
    margin-top: 3rem;
  }

}
