@font-face {
  font-family: "Kanit";
  src: url("Kanit-Regular.ttf");
}

@font-face {
  font-family: "KanitB";
  src: url("Kanit-Bold.ttf");
}

@font-face {
  font-family: "KanitM";
  src: url("Kanit-Medium.ttf");
}

@font-face {
  font-family: "KanitS";
  src: url("Kanit-SemiBold.ttf");
}

.blog-container {
  font-family: "Prompt", sans-serif;
  background-color: #fffef8;
  color: #111;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/*Top Bar*/
.top-bar {
  width: 100%;
  height: 107px;
  background-color: #d7eef6;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-bottom: 2px solid #c02c38;
  box-sizing: border-box;
}

.top {
  display: flex;
  width: 100%;
  justify-content: center;
}

.bar {
  width: 100%;
  max-width: 2000px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: flex;
  margin-left: 3%;
  margin-right: 3%;
  border: 2px solid #c02c38;
  background-color: #fdf8f0;
  box-sizing: border-box;
  border-radius: 20px;
  position: relative;
  align-items: center;
}

.bar-by {
  width: 50%;
  height: 100%;
  display: flex;
  background-color: #df2d3b;
  box-sizing: border-box;
  border-radius: 20px;
  position: absolute;
  right: 100;
  align-items: center;
  margin-left: 50%;
}

/*ปุ่ม*/
.home-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #ffd3d3;
  cursor: pointer;
  margin-right: 3%;
}

.btn-icon {
  display: flex;
  align-items: center;
  width: 50%;
  aspect-ratio: 1 / 1;
  max-width: 60px;
  height: 60px;
}

.home-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #ffd3d3;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.home-btn.animate {
  animation: bounce 0.4s ease;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.2);
  }
  60% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

/*------------------------*/

/*Content*/
.post-on {
  font-family: "KanitS";
  color: #000000;
  font-size: 17px;
  margin-left: 15px;
  margin-right: 15px;
}

.expost-on {
  font-family: "KanitM";
  color: #000000;
  font-size: 17px;
}

.by {
  font-family: "KanitS";
  color: #ffffff;
  font-size: 17px;
  margin-left: 15px;
  margin-right: 15px;
}

.exby {
  font-family: "KanitM";
  color: #ffffff;
  font-size: 17px;
}
/*-----------------------*/
/*---------------------------*/

/*Body*/
.content {
  text-align: center;
  margin-top: 3%;
  width: 100%;
  box-sizing: border-box;
}

.header-img {
  width: 100%;
  max-width: 600px;
  height: 300px;
  border-radius: 31px;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.1);
  display: block;
  margin: auto;
}

/*Blog Title*/
.blog-title1 {
  font-family: "KanitB";
  color: #000000;
  margin-top: 50px;
  font-size: 50px;
  line-height: 1.3;
  text-align: center;
}

.blog-title2 {
  font-family: "KanitB";
  color: #000000;
  font-size: 50px;
  line-height: 1.3;
  text-align: center;
}
/*-----------------------*/

.style-section {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.style-item {
  position: relative;
  max-width: 500px;
  width: 100%;
}

.style-img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
}

/*Day*/
.day-list {
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin-top: 20px;
  width: max-content;
}

.day {
  font-family: "KanitM";
  color: #000000;
  border-radius: 20px;
  text-align: center;
  border: 2px solid #000000;
  font-size: 1rem;

  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 5px;
  padding-bottom: 5px;
}

/*color*/
.monday {
  background-color: #feffeb;
}
.tuesday {
  background-color: #ffeffa;
}
.wednesday {
  background-color: #f5ffdf;
}
.thursday {
  background-color: #ffdcd4;
}
.friday {
  background-color: #f4fcff;
}
.saturday {
  background-color: #e5c2ff;
}
.sunday {
  background-color: #ffe0e0;
}
/*--------------------------------------------*/

/*แหล่งที่มา*/
.from {
  position: relative;
  text-align: left;
  align-self: flex-start;
  margin-left: 3%;
  margin-bottom: 3%;
}
.from1 {
  font-family: "KanitS";
  color: #000000;
  font-size: 32px;
  line-height: 2;
  position: relative;
}

.from2 {
  font-family: "Kanit";
  color: #000000;
  font-size: 15px;
  padding: 0 0 50px;
}
/*----------------------------------------*/

/*Footer*/
.footer {
  width: 100%;
  height: 7rem;
  background-color: #d7eef6;
  text-align: left;
  border-top: 2px solid #c02c38;
}

.logo {
  font-family: "KanitB";
  color: #e43333;
  font-size: 1rem;
  margin-left: 2%;
}
/*--------------------------*/
/*--------------------------------------------*/

@media (max-width: 640px) {
  .top-bar {
    width: 100%;
    height: 8rem;
    border-bottom: 2px solid #c02c38;
  }

  .home-btn {
    width: 4rem;
    height: 4rem;

    margin-right: 5%;
  }

  .btn-icon {
    max-width: 4rem;
    height: 4rem;
  }
  .bar {
    width: 100%;
    max-width: 60rem;
    height: 3rem;

    margin-left: 5%;
    margin-right: 5%;

    border-radius: 20px;
    border: 2px solid #c02c38;
  }

  .bar-by {
    width: 50%;
    height: 100%;
  }

  .post-on {
    font-size: 1.1rem;

    margin-left: 3%;
    margin-right: 3%;
  }

  .expost-on {
    font-size: 1.1rem;
  }

  .by {
    font-size: 1.1rem;

    margin-left: 7%;
    margin-right: 5%;
  }

  .exby {
    font-size: 1.1rem;
    margin-left: 3%;
  }
  .from {
    margin-top: 40%;
  }
  .from1 {
    font-size: 1.3rem;
  }

  .from2 {
    font-size: 1.1rem;
  }

  .from3 {
    font-size: 1.1rem;
  }

  .logo {
    font-size: 4rem;
  }

  .header-img {
    width: 100%;
    max-width: 30rem;
    height: 15rem;
    border-radius: 2rem;
  }
  .blog-title1 {
    margin-top: 2rem;
    font-size: 3rem;
  }

  .blog-title2 {
    font-size: 3rem;
    line-height: 1.3;
    margin-bottom: 2rem;
  }

  .day {
    font-family: "KanitM";
    color: #000000;
    border-radius: 20px;
    text-align: center;
    border: 2px solid #000000;
    font-size: 12px;
  }
  .day {
    font-family: "KanitM";
    color: #000000;
    border-radius: 20px;
    text-align: center;
    border: 1px solid #000000;
    font-size: 0.7rem;

    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

@media (min-width: 640px) {
  .top-bar {
    width: 100%;
    height: 8rem;
    border-bottom: 2px solid #c02c38;
  }

  .home-btn {
    width: 4rem;
    height: 4rem;

    margin-right: 5%;
  }

  .btn-icon {
    max-width: 4rem;
    height: 4rem;
  }
  .bar {
    width: 100%;
    max-width: 90rem;
    height: 3rem;

    margin-left: 5%;
    margin-right: 5%;

    border-radius: 20px;
    border: 2px solid #c02c38;
  }

  .bar-by {
    width: 50%;
    height: 100%;
  }

  .post-on {
    font-size: 1.5rem;

    margin-left: 3%;
    margin-right: 3%;
  }

  .expost-on {
    font-size: 1.5rem;
  }

  .by {
    font-size: 1.5rem;

    margin-left: 7%;
    margin-right: 5%;
  }

  .exby {
    font-size: 1.5rem;

    margin-left: 3%;
  }
  .from {
    margin-top: 20%;
  }
  .from1 {
    font-size: 1.3rem;
  }

  .from2 {
    font-size: 1.1rem;
  }

  .from3 {
    font-size: 1.1rem;
  }

  .logo {
    font-size: 4rem;
  }

  .header-img {
    width: 100%;
    max-width: 40rem;
    height: 20rem;
    border-radius: 2rem;
  }
  .blog-title1 {
    margin-top: 2rem;
    font-size: 4rem;
  }

  .blog-title2 {
    font-size: 4rem;
    line-height: 1.3;
    margin-bottom: 2rem;
  }
  .day {
    font-family: "KanitM";
    color: #000000;
    border-radius: 20px;
    text-align: center;
    border: 2px solid #000000;
    font-size: 1rem;

    padding-left: 1.3rem;
    padding-right: 1.3rem;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

@media (min-width: 1024px) {
  .blog-container {
    font-family: "Prompt", sans-serif;
    background-color: #fffef8;
    color: #111;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  /*Top Bar*/
  .top-bar {
    width: 100%;
    height: 107px;
    background-color: #d7eef6;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-bottom: 2px solid #c02c38;
    box-sizing: border-box;
  }

  .top {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .bar {
    width: 100%;
    max-width: 2000px;
    height: 30px;
    display: flex;
    margin-left: 3%;
    margin-right: 3%;
    border: 2px solid #c02c38;
    background-color: #fdf8f0;
    box-sizing: border-box;
    border-radius: 20px;
    position: relative;
  }

  .bar-by {
    width: 50%;
    height: 100%;
    display: flex;
    background-color: #df2d3b;
    box-sizing: border-box;
    border-radius: 20px;
    position: absolute;
    right: 100;
    align-items: center;
    margin-left: 50%;
  }

  /*ปุ่ม*/
  .home-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #ffd3d3;
    cursor: pointer;
    margin-right: 3%;
  }

  .btn-icon {
    display: flex;
    align-items: center;
    width: 50%;
    aspect-ratio: 1 / 1;
    max-width: 60px;
    height: 60px;
  }

  .home-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #ffd3d3;
    cursor: pointer;
    transition: transform 0.2s ease;
  }

  .home-btn.animate {
    animation: bounce 0.4s ease;
  }

  @keyframes bounce {
    0% {
      transform: scale(1);
    }
    30% {
      transform: scale(1.2);
    }
    60% {
      transform: scale(0.9);
    }
    100% {
      transform: scale(1);
    }
  }

  /*------------------------*/

  /*Content*/
  .post-on {
    font-family: "KanitS";
    color: #000000;
    font-size: 17px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .expost-on {
    font-family: "KanitM";
    color: #000000;
    font-size: 17px;
  }

  .by {
    font-family: "KanitS";
    color: #ffffff;
    font-size: 17px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .exby {
    font-family: "KanitM";
    color: #ffffff;
    font-size: 17px;
  }
  /*-----------------------*/
  /*---------------------------*/

  /*Body*/
  .content {
    text-align: center;
    margin-top: 20px;
    width: 100%;
    box-sizing: border-box;
  }

  .header-img {
    width: 100%;
    max-width: 600px;
    height: 300px;
    border-radius: 31px;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.1);
    display: block;
    margin: auto;
  }

  /*Blog Title*/
  .blog-title1 {
    font-family: "KanitB";
    color: #000000;
    margin-top: 50px;
    font-size: 50px;
    line-height: 1.3;
    text-align: center;
  }

  .blog-title2 {
    font-family: "KanitB";
    color: #000000;
    font-size: 50px;
    line-height: 1.3;
    text-align: center;
  }
  /*-----------------------*/

  .style-section {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .style-item {
    position: relative;
    max-width: 500px;
    width: 100%;
  }

  .style-img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
  }

  /*Day*/
  .day-list {
    position: absolute;
    bottom: 3rem;
    left: 50rem;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .day {
    font-family: "KanitM";
    color: #000000;
    border-radius: 20px;
    text-align: center;
    border: 2px solid #000000;
    font-size: 12px;
  }

  /*color*/
  .monday {
    background-color: #feffeb;
  }
  .tuesday {
    background-color: #ffeffa;
  }
  .wednesday {
    background-color: #f5ffdf;
  }
  .thursday {
    background-color: #ffdcd4;
  }
  .friday {
    background-color: #f4fcff;
  }
  .saturday {
    background-color: #e5c2ff;
  }
  .sunday {
    background-color: #ffe0e0;
  }
  /*--------------------------------------------*/

  /*แหล่งที่มา*/
  .from {
    position: relative;
    text-align: left;
    align-self: flex-start;
    margin-left: 3%;
    margin-bottom: 3%;
  }
  .from1 {
    font-family: "KanitS";
    color: #000000;
    font-size: 32px;
    line-height: 2;
    position: relative;
  }

  .from2 {
    font-family: "Kanit";
    color: #000000;
    font-size: 15px;
    padding: 0 0 50px;
  }
  /*----------------------------------------*/

  /*Footer*/
  .footer {
    width: 100%;
    height: 97px;
    background-color: #d7eef6;
    text-align: left;
    border-top: 2px solid #c02c38;
  }

  .logo {
    font-family: "KanitB";
    color: #e43333;
    font-size: 64px;
    margin-left: 2%;
  }
}
